.row {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}

.chosen-bikoret {
  box-shadow: 8px 8px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery {
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  width: 75%;
  margin-top: 50px;
  padding-bottom: 400px;
}

.gallery-pic {
  display: inline-block;
  margin: 1vw;
}

.gallery-pic img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: 1s;
}

.gallery-pic img:hover {
  box-shadow: 8px 8px;
}

.bikoret {
  margin-top: 50px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
